/* cr-api CSS styles */

/* css variables */
:root {
  --main-bg-color: hsl(0, 0%, 0%);
  --link-color: hsl(334, 92%, 56%); 
}

/*
Josh Comeau's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* body styles */
/* Set body styles */
body {
  font-family: 'Jetbrains Mono', monospace;
  background-color: var(--main-bg-color);
  color: hsl(32, 100%, 50%);
}

/* Set container styles */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(crusty-rustacean-api-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Set header styles */
.header {
  background-color: var(--main-bg-color);
  padding: 20px;
  text-align: center;
}


/* Set content styles */
.content {
  max-width: 960px;
  margin: auto auto;
  padding: 20px;
  text-align: center;
  opacity: 0.9;
  background-color: hsl(204, 18.8%, 26.1%);
}

.content p {
  text-align: center;
  color: hsl(0, 100%, 100%);
}

.content a:link {
  text-decoration: none;
  color: var(--link-color);
}

.content a:visited {
  color: var(--link-color);
}

.content a:hover {
  font-weight: bold;
  color: var(--link-color);
}

/* Set footer styles */
.footer {
  background-color: var(--main-bg-color);
  padding: 20px;
  text-align: center;
}

.footer ul li {
  list-style-type: none;
  display: inline;
  text-decoration: none;
}

.footer a:link {
  text-decoration: none;
  color: var(--link-color);
}

.footer a:visited {
  color: var(--link-color);
}

.footer a:hover {
  font-weight: bold;
  color: var(--link-color);
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .header, .footer {
    font-size: 14px;
    padding: 10px;
  }

  .content {
    margin: 0 auto;
    padding: 10px;
  }
}