<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
    </style>
    <link href="/assets/cr-api.css" rel="stylesheet" type="text/css" />
    <title>Crusty Rustacean Newsletter</title>
  </head>
  <body>
    {{ flash_msg }}

    <div class="container">
      <header class="header">
        <h1>The Crusty Rustacean Newsletter</h1>
        {% block header %} {% endblock %}
      </header>
      <main class="content">{% block content %} {% endblock %}</main>
      <footer class="footer">
        <p>
          &copy; <span id="year"></span>
          <a href="https://jeff-mitchell.dev" target="_blank"
            >Jeffery D. Mitchell</a
          >
          | All Rights Reserved
        </p>
        <p>
          Proudly built with Rust and hosted on:
          <a href="https://railway.app" target="_blank">Railway</a>
        </p>
        <p>
          Domain name courtesy of:
          <a href="https://shuttle.rs" target="_blank">Shuttle</a>
        </p>
      </footer>
    </div>
    <script src="/assets/cr-api.js"></script>
  </body>
</html>
