<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../assets/cr-api.css" rel=stylesheet type="text/css">
  <title>Crusty Rustacean Newsletter</title>
</head>
<body>

  {{ flash_msg }}

  <header>
    <h1>The Crusty Rustacean Newsletter</h1>
    {% block header %}
    {% endblock %}
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>
  <footer>
    <p>&copy; <span id="year"></span> Jeffery D. Mitchell | All Rights Reserved</p>
  </footer>
  
  <script src="../assets/cr-api.js"></script>
</body>
</html>