{% extends "base.html" %}

{% block header %}
<h2>Change password</h2>
{% endblock %}
  
{% block content %}
  <section>
    <form action="admin/password" method="post">
      <label>Current password
        <input type="password" placeholder="Enter current password" name="current_password">
      </label>
      <br />
      <label>New password
        <input type="password" placeholder="Enter new password" name="new_password">
      </label>
      <br />
      <label>Confirm new password
        <input type="password" placeholder="Type the new password again" name="new_password_check">
      </label>
      <br />
      <button type="submit">Change password</button>
    </form>
    <br />
    <p><a href="/admin/dashboard">&lt;- Back</a></p>
  </section>
{% endblock %}